.categories {
  display: flex;
    width: 98%;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
}
.report-button{
      width: 85%;
      gap: 10px;
    height: 10vh;
    border-radius: 15px;
    background: #00A6F4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.category {
  text-align: center;
  flex: 1;
  text-decoration: none;
}

.icon-wrapper {
  width:150px;
  height: 80px;
  margin: 0 auto 6px;
  border-radius: 12px;
  background: #e0f2fe;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0284c7;
  cursor: pointer;
  transition: background 0.3s;
}

.icon-wrapper:hover {
  background: #bae6fd;
  cursor: pointer;
}

.category p {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}
