.map-section {
  width: 100%;
  max-width: 360px;
  height: 180px; 
  margin: 0 auto 12px auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative; 
  box-shadow: 5px 2px 6px rgba(0, 0, 0, 0.12);
}


.map-section .leaflet-container {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .map-section {
    max-width: 600px;
    height: 300px;
  }
}